.BottomMenu {
	position: sticky;
	place-self: end center;
	bottom: 0;
	background-image: linear-gradient(
		to bottom,
		transparent,
		rgba(219, 46, 242, 0.3)
	);
	width: 100%;
	height: 50px;
	max-width: 430px;
}

#CreateTodoButton {
	cursor: pointer;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	background: linear-gradient(to left, #e100ff, #7f00ff);
	color: white;
	font-size: 2em;
	border: none;
	border-radius: 50%;
	transition: box-shadow 0.5s;
}

#CreateTodoButton:hover {
	box-shadow: 0px 0px 10px white;
}
