.App {
	width: 100%;
	text-align: center;
	background: rgb(0, 212, 255);
	background: linear-gradient(
		135deg,
		rgba(0, 212, 255, 0.1) 10%,
		rgba(138, 44, 226, 0.15) 50%,
		rgba(2, 0, 36, 0.1) 90%
	);
	border-radius: 50px;
	margin: 20px 0;
	border: 2px solid blueviolet;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 90%;
	gap: 10px;
	padding: 5%;
	justify-content: center;
}
