.todoItem {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 20px;
	background: linear-gradient(
		135deg,
		rgba(2, 0, 36, 0) 0%,
		rgba(138, 43, 226, 0.3) 60%,
		rgba(0, 212, 255, 0.1) 100%
	);
	border-radius: 15px;
}

.todoItem svg {
	cursor: pointer;
}

.todoItem svg:first-child {
	margin-right: 15px;
}

.todoItem svg:last-child {
	margin-left: auto;
}

.todoItem.completed {
	background: linear-gradient(
		135deg,
		rgba(2, 0, 36, 0) 0%,
		rgba(138, 43, 226, 0.1) 60%,
		rgba(0, 212, 255, 0.1) 100%
	);
	text-decoration: line-through;
}

.todoItem.completed svg {
	opacity: 0.5;
}
